body{
  
    background: url("http://previews.123rf.com/images/iimages/iimages1301/iimages130101199/17443503-Illustration-of-a-notice-board-on-a-beach-Stock-Vector-beach-cartoon-drawing.jpg");
    margin: 0;
    padding: 0;
}